/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jan, 2015, 12:22:01 PM
    Author     : BC Choudhary
*/
/*Main form*/ 
body{
  background: url("../images/formbackground.jpg");
    background-repeat: repeat-x;
   
}
#mainform
{
    width:555px;
    height:550px;
    margin:0px auto ;
    border: 3px solid black;
}
/*divs for different information inside main form*/
#mainform div
{
    width:620px;
    margin:10px ;
    float: left;
}
/*First name div*/
#f-name
{
    margin-left: 100px;
}
/*Last name div*/
#l-name
{
    margin-left: 102px;
}
/*Gender div*/
#gender
{
    margin-left: 125px;
}
/*Female radio button*/
#female_radio
{
    margin-left:50px;   
}
/*Date of birth div*/
#dob
{
    margin-left: 85px;
    width: 165px;
}
/*Phone div*/
#phone{
    margin-left:112px;
}
/*E-mail div*/
#email
{
    margin-left: 133px;
}
/*Password div*/
#pass
{
    margin-left: 110px;
}
/*Confirm password div*/
#cpass
{
    margin-left: 52px;
}
/*Hobbies div*/
#hobbies
{
    margin-left: 118px;
}
/*Submit Button Div*/
#button-submit
{
    margin-top: 10px;
    margin-left: 200px ;
}
